extends layout

block content
  .posts-container
    if posts.length > 0
      if currentUser
        // A user is logged in
        if currentUser.isMember
          // User is a member - show all avatars and usernames
          each post in posts
            .post
              img(src=post.user.avatarURL)
              .post_detail
                .post_detail_header
                  h1!= post.title
                  if currentUser.isAdmin
                    // User is also an admin - show delete button
                    form(action="/delete-message", method="POST")
                      input(type="hidden", name="delete-message", value=post._id)
                      button(type="submit") Delete
                p.post_detail_content!= post.content
                .post_detail_footer
                  p Posted by #[span.post_detail_footer_username!= post.user.username]
                  span= post.timestamp.toLocaleString()
        else
          // User is logged in but not a member
          each post in posts
            if post.user.username === currentUser.username
              // Own posts aren't anonymous
              .post
                img(src=post.user.avatarURL)
                .post_detail
                  .post_detail_header
                    h1!= post.title
                  p.post_detail_content!= post.content
                  .post_detail_footer
                    p Posted by #[span.post_detail_footer_username!= post.user.username]
                    span= post.timestamp.toLocaleString()
            else
              // Posts made by other uses are anonymous
              .post
                img(src="images/anonymous.jpeg")
                .post_detail
                  .post_detail_header
                    h1!= post.title
                  p.post_detail_content!= post.content
                  .post_detail_footer
                    p Posted by #[span.post_detail_footer_username Anonymous]
                    span= post.timestamp.toLocaleString()
      else
        // No user is logged in
        each post in posts
          .post
            img(src="images/anonymous.jpeg")
            .post_detail
              .post_detail_header
                h1!= post.title
              p.post_detail_content!= post.content
              .post_detail_footer
                p Posted by #[span.post_detail_footer_username Anonymous]
                span= post.timestamp.toLocaleString()
    else
      p.posts-container_no-posts-msg There are no posts.
